* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none; /* Elimina las viñetas */
    padding: 0;
}

ul li {
    display: inline; /* Los elementos se muestran en línea */
    margin-right: 15px; /* Espacio entre los elementos */
    font-size: 18px;
}
